* {
    padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;

  }
  .navbar {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; 
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff; 
    padding: 10px 20px; 
  }
  

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #151719; 
  }
  
  .navbar .title {
    color: #fff; 
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
  }
  .navbar .nav-link {
    position: relative;
    font-size: 1.5em;
    font-weight:800;
    color: #796c6c;
    text-decoration: none;
    padding: 6px 20px;
    transition: .5s;
}
.navbar .nav-link:hover {
    color: #ff2b06;
}
  
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  
    .navbar ul {
      flex-direction: column;
      background-color: #222;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 1;
    }
  
    .menu {
      display: flex;
    }
  }
  